env EDITOR=nano crontab -e

#*/10 * * * * /Users/Andrei_Sorokin2/scripts/rsync_icloud_obsidian_to_onedrive_epam.sh
#*/10 * * * * /Users/Andrei_Sorokin2/scripts/rsync_documents_to_onedrive_personal.sh
#*/10 * * * * /Users/Andrei_Sorokin2/scripts/rsync_shelf_to_onedrive_personal.sh

#0 17 * * * /Users/Andrei_Sorokin2/scripts/rsync_icloud_obsidian_to_onedrive_personal.sh

20 6 * * * /Users/$whoami/scripts/garmin_daily.sh
30 6 * * 5 /Users/$whoami/scripts/arch_obsidian.sh
20 6 * * 5 /Users/$whoami/scripts/arch_documents.sh
25 6 1-7 * 5 /Users/$whoami/scripts/arch_shelf.sh

# Open System Preferences from the  Apple menu, then choose “Security & Privacy”
# Go to the “Privacy” tab, then select “Full Disk Access” from the side menu options
# Click the lock icon in the corner and authenticate with an admin password to grant permission to modify Full Disk Access settings
# in Finder Go-Go to folder: /usr/sbin/cron, drag&drop to the settings Full Disk Access
